.header {
  background-color: #f0f0f0;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* TODOlist */

.todo-list-container {
  text-align: center;
  padding: 20px;
}

.todo-list-title {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-button:hover {
  background-color: #3e8e41;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-delete-button {
  padding: 5px 10px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-delete-button:hover {
  background-color: #cc3333;
}


/* Footer */

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
}

.social-icon {
  margin-left: 10px;
  color: #333;
  font-size: 20px;
}

.social-icon:hover {
  color: #007bff;
}